<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>SessionId: <span id="sessionId" th:text="${sessionId}"></span></p>
        <p>Session created at server with id: <span id="initialUUID" th:text="${initialUUID}"></span></p>
        <p>Site served from server with id: <span id="currentUUID" th:text="${currentUUID}"></span></p>
    </div>
</div>

</body>
</html>