<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>SessionId: <span id="sessionId" th:text="${sessionId}"></span></p>
        <p>Session created at port: <span id="initialPort" th:text="${initialPort}"></span></p>
        <p>Site served from port: <span id="currentPort" th:text="${currentPort}"></span></p>
    </div>
</div>

</body>
</html>